.header{
    text-align: center;
}
.nav{
    border: 1px solid #eee;
    padding: 5px;
}
.nav-link{
    font-weight: bold;
    color: #000;
}
.nav-link:active{
    color: #3a8bcd;
}

.menudiv button{
    height: fit-content;
}
.profile{
    pointer-events: none;
}
@media (max-width:845px) {

    .nav{
        flex-direction: column;
        display: none;
        display: none;
    text-align: left;
    background-color: rgb(238, 238, 238);
    box-shadow: rgb(204 204 204) 0px 3px 10px;
    /* transition: all 0.7s ease 0s;*/
    
    }
    .menudiv{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .menu{
        display: block !important;
    }
    .start-100{
        left: auto !important;
    }
    .translate-middle {
        transform: unset!important;
    }
    

}