.header{
    text-align: center;
}
.nav{
    border: 1px solid #eee;
    padding: 5px;
}
.nav-link{
    font-weight: bold;
    color: #000;
}
.nav-link:active{
    color: #3a8bcd;
}

.menudiv button{
    height: fit-content;
}
@media (max-width:640px) {

    .nav{
        flex-direction: column;
        display: none;
    }
    .menudiv{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .menu{
        display: block !important;
    }
    

}