.invoice{
    width: 60%;
    margin: 0  auto;
}
.order-details{
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    width: 60%;
    margin: 0  auto;
    
}
.order-details img{
    width: 70px;
    height:70px;
    margin-right: 15px;
}
.customer-details{
    
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 60%;
    margin: 0  auto;
    
}
.customer-details p{
    margin: 10px 0;
    font-weight: 600;
}
.read{
    background-color: #eee;
    cursor:default;
}
.form-control:focus {
    color: #212529;
    background-color: #eee;
    border-color: #ccc;
    outline: 0;
    box-shadow:none;
}


@media (max-width:992px) {
    .invoice{
        width: 80%;
    }
    .order-details{
        width: 80%;
    }
    .customer-details{
        width: 80%;
    }
}
@media (max-width:768px) {
    .invoice{
        width: 95%;
    }
    .order-details{
        width: 95%;
    }
    .customer-details{
        width: 95%;
    }
}
@media (max-width:576px) {
    .invoice{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}